<%- include('../partials/head') %>
    <h1>Detalle de producto</h1>
    <section class="product-detail">
        <article class="product">
            <h3><%= product.title %></h3>
            <p class="desc"><%= product.desc %></p>
            <p class="price">$ <%= product.price %></p>
        </article>
    </section>
    <section class="buttons">
        <a class="button" href="/productos/">&larr; Volver al listado</a>
        <a class="button is-primary" href="/productos/<%= product.id %>/editar">Editar producto</a>
    </section>
<%- include('../partials/footer') %>