<%- include('../partials/head') %>
    <h1>Detalle de producto</h1>
    <section class="product-detail">
        <article class="product">
            <h3><%= product.title %></h3>
            <p class="desc"><%= product.desc %></p>
            <p class="price">$ <%= product.price %></p>
        </article>
    </section>
    
<%- include('../partials/footer') %>