<%- include('../partials/head') %>
    <h1>Upps... eso es un error</h1>
    <section class="messages">
        <article class="message <%= message.class %>">
            <h3><%= message.title %></h3>
            <p class="desc"><%= message.desc %></p>
        </article>
    </section>
<%- include('../partials/footer') %>